@import '../../../themes/magentacloud25/core/css/functions';
@import '../../../themes/magentacloud25/core/css/theme';
@import '../../../themes/magentacloud25/core/css/icons';

// $bg_color_unset: unset;
$red_color: #FF0000;

#hello {
	color: $red_color;
}

/* slide - forms  */
/*pagination*/
#nmc_welcome_popup {
	.modal-wrapper {
		.nmc_welcome_popup-header {
			h2 {
				float: left;
				color: var(--scl-color-grey-90)!important;
				font-weight: bold!important;
				padding: 0!important;
				margin: 0!important;
				text-align: left!important;
				line-height: 1.23!important;
			}
			button.primary.modal-default-button {
				background: var(--icon-dialog-close) no-repeat !important;
				border: unset!important;
				width: 24px!important;
				height: 24px!important;
				padding: unset!important;
				float: right;
				margin: unset!important;
			}
		}
	}
}

#nmc_welcome_popup {
	.modal-header {
		@include unset('background-color',false);
		height: unset!important;
		max-height: 150px!important;
	}
	a.button {
		background-color: var(--color-background-plain)!important;
		border-color: var(--color-background-plain)!important;
		color: var(--white-color)!important;
		border-radius: 8px!important;
		padding: 0.625rem 1.5rem!important;
		height: 40px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0.625rem 1.5rem!important;
		width: auto!important;
		max-width: 180px!important;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		display: inline-block;
		line-height: 1.23;
		&:hover {
			background-color: var(--scl-color-light-magenta)!important;
		}
	}
	select.primary {
		border-radius: 8px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0.375rem 1.5rem 0.5rem 1.5rem;
		height: 40px;
		background-color: var(--white-color)!important;
		border-color: var(--scl-color-grey-90)!important;
		margin: 0 0.5rem 0 0;
		color: var(--scl-color-grey-90);
		width: auto;
		max-width: 180px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		line-height: 1.23;
		&:hover {
			border-color: var(--color-background-plain)!important;
			color: var(--color-background-plain)!important;
			background-color: var(--white-color)!important;
		}
	}
	button.primary {
		border-radius: 8px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0.375rem 1.5rem 0.5rem 1.5rem;
		height: 40px;
		@include unset('background-color',false);
		border-color: var(--scl-color-grey-90)!important;
		margin: 0 0.5rem 0 0;
		color: var(--scl-color-grey-90)!important;
		width: auto;
		max-width: 180px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		line-height: 1.23;
		&:hover {
			border-color: var(--color-background-plain)!important;
			color: var(--color-background-plain)!important;
			background-color: var(--white-color)!important;
		}
	}
	.button.primary {
		border-radius: 8px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0.375rem 1.5rem 0.5rem 1.5rem;
		height: 40px;
		background-color: var(--white-color)!important;
		border-color: var(--scl-color-grey-90)!important;
		margin: 0 0.5rem 0 0;
		color: var(--scl-color-grey-90)!important;
		width: auto;
		max-width: 180px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
		line-height: 1.23;
		&:hover {
			border-color: var(--color-background-plain)!important;
			color: var(--color-background-plain)!important;
			background-color: var(--white-color)!important;
		}
	}
	.modal-footer {
		button {
			margin: 0;
		}
		margin: 0rem 1.5rem 1.5rem 0rem;
		overflow: unset;
		position: unset;
		justify-content: space-between;
		text-align: right;
		margin-top: 2rem;
	}
	.modal-body {
		padding: 0 1.5rem;
		.content {
			color:var(--color-background-plain)!important;
		}
	
		.logo {
			img {
				width: 100%;
				height: auto;
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-top: 0.25rem;
			}
		}
	}

	ol {
		margin-left: 1rem;
	}
	ul {
		list-style-type: disc;
		margin-left: 1rem;
	}
	.content {
		color:var(--color-background-plain)!important;
		ol {
			li {
				list-style-type: unset;
			}
		}
		ul {
			li {
				list-style-type: unset;
			}
		}
	}
}
.modal-mask#nmc_welcome_popup {
	.modal-container {
		max-height: 720px;
	}
}
.modal-header {
	.nmc_welcome_popup-header {
		background-color: var(--white-color)!important;
		background-image: unset!important;
		padding: 1.5rem!important;
	}
}
#add_new_popup {
	border-radius: 8px!important;
	font-size: 1rem;
	font-weight: normal;
	padding: 0.375rem 1.5rem 0.5rem 1.5rem!important;
	height: 40px;
	background-color: var(--white-color)!important;
	border-color: var(--scl-color-grey-90)!important;
	margin: 0 0.5rem 0 0!important;
	color: var(--scl-color-grey-90)!important;
	width: auto!important;
	max-width: 180px!important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	line-height: 1.23;
	background-color: var(--color-background-plain)!important;
	border-color: var(--color-background-plain)!important;
	color: var(--white-color)!important;
	border-radius: 8px;
	height: 40px;
	font-size: 1rem;
	font-weight: normal;
	padding: 0.25rem 1.5rem 0.5rem 1.5rem;
	&:hover {
		background-color: var(--scl-color-light-magenta)!important;
	}
}
#welcome_popup {
	input#de_DE-show-preview {
		border-radius: 8px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0.25rem 1.5rem 0.5rem 1.5rem!important;
		height: 40px;
		background-color: var(--white-color)!important;
		border-color: var(--scl-color-grey-90)!important;
		margin: 0 0.5rem 0 0!important;
		color: var(--scl-color-grey-90)!important;
		width: 120px;
		&:hover {
			border-color: var(--color-background-plain)!important;
			color: var(--color-background-plain)!important;
		}
	}
	input#en_GB-show-preview {
		border-radius: 8px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0.25rem 1.5rem 0.5rem 1.5rem!important;
		height: 40px;
		background-color: var(--white-color)!important;
		border-color: var(--scl-color-grey-90)!important;
		margin: 0 0.5rem 0 0!important;
		color: var(--scl-color-grey-90)!important;
		width: 120px;
		&:hover {
			border-color: var(--color-background-plain)!important;
			color: var(--color-background-plain)!important;
		}
	}
	.icon-delete {
		display: inline-block;
		padding: 0.75rem 1.25rem;
		margin-bottom: 0.313rem;
	}
	h2 {
		margin-bottom: 1.5rem;
		font-size: 1.25rem;
	}
	label {
		div {
			color: var(--scl-color-light-grey-90)!important;
		}
		input {
			height: 48px;
			padding: 0.75rem 0.75rem 0.75rem 0.688rem;
			border: 1px solid #666666;
			font-size: 1rem;
			color: var(--scl-color-light-grey-90)!important;
			&:hover {
				border-color: var(--color-background-plain)!important;
			}
		}
	}
	textarea {
		padding: 0.75rem 0.75rem 0.75rem 0.688rem;
		border: 1px solid #666666;
		font-size: 1rem;
		color: var(--scl-color-light-grey-90)!important;
		width: 540px;
		&:hover {
			border-color: var(--color-background-plain)!important;
		}
	}
	input {
		width: 540px;
	}
	.slide-list {
		li.active {
			a {
				border-color: var(--color-background-plain)!important;
				color: var(--color-background-plain)!important;
			}
		}
	}
	.icon-upload {
		background-image: var(--icon-pop-up-upload-image);
		filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
	}
}
#remove_slide {
	&:hover {
		border-color: var(--color-background-plain)!important;
		color: var(--color-background-plain)!important;
	}
	border-radius: 8px!important;
	font-size: 1rem;
	font-weight: normal;
	padding: 0.25rem 1.5rem 0.5rem 1.5rem!important;
	height: 40px;
	background-color: var(--white-color)!important;
	border-color: var(--scl-color-grey-90)!important;
	margin: 0 0.5rem 0 0!important;
	color: var(--scl-color-grey-90);
	width: auto!important;
}
.modal-mask {
	.button {
		margin: 0;
	}
}
.modal-body {
	.logo {
		background-size: cover!important;
		width: unset!important;
		height: unset!important;
		max-height: unset!important;
		margin: unset!important;
	}
	.content {
		padding: 1.25rem 0rem;
	}
	a {
		color: var(--color-background-plain)!important;
	}
}
.modal-container {
	max-width: 784px;
	max-height: 720px;
	border-radius: 12px;
}
.modal-wrapper {
	.modal-header {
		margin-left: unset;
		margin-right: unset;
	}
}
input#add_new_popup {
	margin-bottom: 4rem;
}
h3.inlineblock {
	font-weight: bold;
}
div[contenteditable=true] {
	&:hover {
		border-color: var(--color-background-plain)!important;
	}
}
.image-label {
	#en-uploadimage {
		display: inline;
	}
	display: inline;
}
#welcome_popup.section {
	padding: 1.875rem 1.875rem 0rem 1.875rem;
}
.uploadButton {
	margin-top: 2rem;
}
.slide-list.settings-hint {
	li {
		padding-right: 0.5rem;
	}
	.button {
		opacity: unset;
		@include unset('background-color',false);
		// background-color: $bg_color_unset;
	}
	a {
		&:hover.button {
			border-color: var(--color-background-plain)!important;
		}
	}
}
.button.icon-upload {
	border: unset;
	@include unset('background-color',false);
	// background-color: $bg_color_unset;
	display: inline;
	margin-top: -0.313rem;
	width: auto;
}
.section {
	&:not(:last-child) {
		border-bottom: unset;
	}
}
.field-border {
	margin-top: 0.625rem;
	border: 1px solid #666666;
	padding: 0.75rem;
	height: 48px;
	border-radius: 4px;
	color: var(--scl-color-light-grey-90)!important;
	&:hover {
		color: var(--color-background-plain)!important;
	}
}
.footer-actions {
	margin-right: 1.5rem;
}
.modal-footer {
	.pagination {
		margin-left: 1.5rem;
		float: left;
		width: 200px;
		height: 40px;
		opacity: 0.6;
		span {
			float: left;
			padding: 0.5rem;
		}
	}
	.slide-counter {
		border-top: 1px solid #666666;
		border-bottom: 1px solid #666666;
	}
	.Left-arrowBtn {
		border: 1px solid #666666;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		cursor: pointer;
	}
}
.Left-arrowBtn {
	&:hover {
		border-color: var(--color-background-plain)!important;
		color: var(--color-background-plain)!important;
	}
}
.Right-arrowBtn {
	&:hover {
		border-color: var(--color-background-plain)!important;
		color: var(--color-background-plain)!important;
	}
	border: 1px solid #666666;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	cursor: pointer;
}
