.nmc-welcome-popup .modal-wrapper {

	.modal-container {
		overflow: hidden;
        width: 680px;

		&__content {
			overflow: hidden;
			height: 100%;
			display: contents;
		}

		// Hide the default close button in favor of our custom one
		&__close {
			display: none;
		}
	}

	.modal-content {
		padding: 1.5rem;

		.modal-body {

			img {
				width: 100%;
			}

			.content {
				margin: 0.5rem 0;
			}
		}

		.modal-footer {
			box-sizing: border-box;
			display: flex;
			justify-content: flex-end;
			right: 0;
			bottom: 0;
			padding: 0;
			padding-top: 10px;
			position: relative;
			text-align: right;
			width: 100%;

			button {
				border: 0;
				border-radius: var(--telekom-radius-standard);
				box-sizing: border-box;
				font-size: var(--default-font-size);
				height: 44px;
				margin: 0.25rem 0.5rem 0.25rem 0;
				min-height: 36px;
				min-width: 44px;
				opacity: 1;
				overflow: hidden;
				padding: 0.5rem 1rem;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: auto;

				&.primary {
					background-color: var(--telekom-color-primary-standard);
					color: var(--telekom-color-text-and-icon-white-standard) !important;

					&:hover {
						background-color: var(--telekom-color-primary-hovered);
					}
				}

				&:not(.primary) {
					background-color: var(--telekom-color-ui-base);
					border: 1px solid var(--telekom-color-ui-border-standard);
					color: var(--telekom-color-text-and-icon-standard);

					&:hover {
						background-color: var(--color-background-hover);
						border: 1px solid var(--telekom-color-ui-border-hovered);
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}

			.pagination {
				display: flex;
				flex: auto;

				span {
					display: flex;
					flex-shrink: 0;
					justify-content: center;
					align-items: center;
					padding: 0 1rem;
					height: 44px;
					min-width: 44px;
					width: auto;
					color: var(--telekom-color-ui-extra-strong);
					background: none;
					border: 1px solid var(--telekom-color-ui-faint);
					border-left: none;
					border-right: none;
					position: relative;

					&.left-arrow-button, &.right-arrow-button {
						border-left: 1px solid var(--telekom-color-ui-faint);
						border-right: 1px solid var(--telekom-color-ui-faint);
						border-radius: var(--telekom-radius-standard) 0 0 var(--telekom-radius-standard);
						cursor: pointer;
						padding: 0;

						&::after {
							content: "";
							display: block;
							position: absolute;
							top: 0px;
							left: 0px;
							height: 100%;
							width: 44px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: 20px;
							background-image: var(--original-icon-arrow-previous-dark);
						}

						&:hover {
							border-color: var(--telekom-color-primary-standard);
							color: var(--telekom-color-primary-standard);

							&::after {
								filter: invert(17%) sepia(87%) saturate(5418%) hue-rotate(319deg) brightness(85%) contrast(110%);
							}
						}
					}

					&.right-arrow-button {
						border-radius: 0 var(--telekom-radius-standard) var(--telekom-radius-standard) 0;

						&::after {
							background-image: var(--original-icon-arrow-next-dark);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 512px) {
	.nmc-welcome-popup {
		.modal-wrapper .modal-container {
			height: 100dvh;
			top: 0;
		}

		.modal-header {
			pointer-events: none;
		}
	}
}